<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOU MADE IT </title>
  </head>
  <body>
    {{ all_user }}
    <div class="success">
      <h4><a href="#">Email Address You entered(___) is a valid email adderss</a></h4>
      {% for user in all_user%}
      <p>{{ user['email']}} | {{user['created_at']}}</p>
      <form action="/delete/{{user['id']}}" method='post'>
        <input type="hidden" value="user_id" name='user_id'>
        <input type="submit" value="Delete Email">
      </form>
      {% endfor %}
    </div>
  </body>
</html>
